<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Simon Joz"/>
    <title>Wedding Admin</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body class="bg-secondary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login from</h3>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/login}" method="post">
                                    <div th:if="${param.error}" class="small alert alert-danger text-center">
                                        Invalid credentials !
                                    </div>
                                    <div th:if="${param.logout}" class="small alert alert-success text-center">
                                        Logout successful.
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="username">Username</label>
                                        <input class="form-control py-4" id="username" type="text" name="username"
                                               placeholder="Username"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="password">Password</label>
                                        <input class="form-control py-4" id="password" type="password" name="password"
                                               placeholder="Password"/>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-check-inline mt-2 mr-2" id="remember-me" type="checkbox"
                                               name="remember-me"/>
                                        <label class="small" for="remember-me">Remember me ?</label>
                                    </div>

                                    <div class="form-group d-flex align-items-center justify-content-end mt-4 mb-0">
                                        <button class="btn btn-warning" type="submit">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="py-3 bg-dark text-white-50 mt-auto shadow">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-center small">
                <div class="text-muted">Copyright &copy; Simon Joz 2020</div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
